body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
}

header {
  text-align: center;
}

#heading{
  font-family: sans-serif;
  background-color: #343330;
  color: white;
}

#headshot{
  width: 15%;
  height: 15%;
}


#sidebar {
  width: 20%;
  background-color: #45462A;
}

.nav-menu {
  list-style-type: none;
  color: #fff;
}

footer {
  background-color: #343330;
  text-align: center;
}

#content {
  width: 80%;
}

.icons{
  width:3rem;
  height: auto;
}
